# Исключаем директорию Git и связанные файлы, чтобы не включать их в Docker-образ
# Git
.git                # Директория с Git-репозиторием (история, ветки и т.д.)
.gitignore          # Файл настроек игнорирования для Git

# Исключаем Python-кэш и связанные файлы
# Python
__pycache__/        # Директории с кэшированными Python-файлами
*.py[cod]           # Скомпилированные Python-файлы (pyc, pyo, pyd)
*$py.class          # Альтернативное расширение скомпилированных Python файлов
*.so                # Бинарные файлы расширений Python (.so для Unix)
.Python             # Символическая ссылка на Python-интерпретатор
env/                # Виртуальное окружение (устаревшее название)
build/              # Директория с собранными файлами Python
develop-eggs/       # Временные файлы для разработки яиц (egg)
dist/               # Директория с дистрибутивом пакета
downloads/          # Загруженные зависимости
eggs/               # Установленные пакеты в формате egg
.eggs/              # Временные файлы для установки яиц
lib/                # Библиотеки C-расширений
lib64/              # Библиотеки для 64-битных систем
parts/              # Части пакета (используется в buildout)
sdist/              # Исходные архивы дистрибутива
var/                # Переменные файлы
*.egg-info/         # Метаданные пакета в формате egg
.installed.cfg      # Файл конфигурации установки
*.egg               # Пакеты в формате egg

# Исключаем файлы Django
# Django
*.log               # Файлы журналов Django
local_settings.py   # Локальные настройки для разработки
db.sqlite3          # База данных SQLite
media               # Медиа-файлы, загруженные пользователями

# Исключаем виртуальные окружения Python
# Virtual Environment
.env                # Файл с переменными окружения
.venv               # Директория виртуального окружения (современное название)
venv/               # Директория виртуального окружения (альтернативное название)
ENV/                # Директория виртуального окружения (другой вариант)

# Исключаем файлы и директории IDE
# IDE
.idea/              # Директория с настройками PyCharm/IntelliJ
.vscode/            # Директория с настройками Visual Studio Code
*.swp               # Временные файлы Vim
*.swo               # Еще один формат временных файлов Vim

# Исключаем файлы Docker
# Docker
.dockerignore       # Сам файл .dockerignore
Dockerfile          # Файл для сборки Docker-образа
docker-compose.yml  # Файл для docker-compose

# Исключаем тестовые артефакты
# Testing
.coverage           # Файл покрытия кода тестами
htmlcov/            # Директория с HTML-отчетом о покрытии тестами
.pytest_cache/      # Кэш pytest

# Исключаем директории статических файлов
# Static files
staticfiles/        # Собранные статические файлы
node_modules/       # Директория с npm-пакетами для фронтенда 