[flake8]
# Максимальная допустимая длина строки
max-line-length = 100
# Каталоги и файлы, которые следует исключить из проверки
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,*/migrations/*,.venv,venv
# Коды ошибок, которые следует игнорировать:
# E203 - пробелы перед двоеточием
# E266 - слишком много # в начале комментария
# E501 - строка слишком длинная
# W503 - разрыв строки перед бинарным оператором
ignore = E203, E266, E501, W503
# Максимальная допустимая цикломатическая сложность функций
max-complexity = 10
# Категории проверок, которые следует включить:
# B - проверки bugbear
# C - проверки сложности
# E - проверки ошибок
# F - проверки pyflakes
# W - проверки предупреждений
# T4 - проверки типизации
# B9 - дополнительные проверки bugbear
select = B,C,E,F,W,T4,B9 